<div class="row bg-info">
  <div class="col-3" *ngFor="let m of weather;let i =index;" >
    <div class="card m-2 bg-primary rounded-4" >
      <div class="col-12">
        <p class="card-title me-3 ms-3 text-white">{{weather[i].dt_txt}}</p>
      </div>
      <div class="row">
        <div class="col-6">
          <h4 class="card-text me-3 ms-3 text-white"><small class="">{{weather[i].main.temp}}<sup>o</sup>C</small></h4>
          <p class="card-text me-3 ms-3 text-white"><small>{{weather[i].weather[0].description}}</small></p>
        </div>
        <div class="col-6">
          <img src="http://openweathermap.org/img/wn/{{weather[i].weather[0].icon}}@2x.png" alt="..." style="width: 5rem">
        </div>
      </div>
    </div>
  </div>
</div>
